body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

/* .navbar {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
} */

.navbar-brand {
  font-size: 30px;
  font-weight: 600px;
}

.navbar .nav-link {
  font-size: 18px;
  text-transform: uppercase;
  margin-left: 10px;
  font-weight: 600;
}

.navbar .nav-item.active {
  border-bottom: #444 3px solid;
}

.jumbotron {
  background-image: url('../img/hero_image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-item {
  height: 560px;
}

.carousel-image-1 {
  background: url('../img/hero_image.jpg');
  background-size: cover;
    background-repeat: no-repeat;

}

.carousel-image-2 {
  background: url('../img/seo_hero2.jpg');
  background-size: cover;
  /* background-position: 0 -120px; */
    background-repeat: no-repeat;

}

.carousel-image-3 {
  background: url('../img/seo_hero3.jpg');
  background-size: cover;
  /* background-position: 0 -120px; */
    background-repeat: no-repeat;

}

.dark:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.6;
}

#services {
  background-color: #F2F3F9
}

.card {
  border-radius: 10px;
}

